.markdown-body {
  @apply -my-rowSpacing;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    @apply mb-rowSpacing leading-relaxed mt-rowGap;
  }

  h1 {
    @apply text-title font-bold mb-extraSpacing mt-rowSpacing;
  }

  h2 {
    @apply text-subTitle font-bold mb-elementSpacing mt-rowSpacing;
  }

  h3 {
    @apply text-extra font-bold mt-rowSpacing;
  }

  em,
  i {
    @apply italic;
  }

  strong,
  b {
    @apply font-bold;
  }

  a {
    @apply no-underline text-secondary;
  }

  a:hover {
    @apply underline;
  }

  li {
    @apply leading-snug mb-rowGap;
  }

  ul li {
    @apply list-disc list-inside;
  }

  ol li {
    @apply list-decimal list-inside;
  }

  .code-block {
    @apply relative rounded-small my-rowSpacing px-cardPadding py-containerPadding bg-bgColor overflow-hidden;

    .copy-button {
      @apply absolute top-0 right-0 rounded-bl-small bg-primary px-tagPaddingX py-tagPaddingY text-caption flex items-center;
    }

    .copy-button-icon {
      background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9IiMxZTFlMWUiIGQ9Ik01IDIycS0uODI1IDAtMS40MTMtLjU4OFQzIDIwVjZoMnYxNGgxMXYySDVabTQtNHEtLjgyNSAwLTEuNDEzLS41ODhUNyAxNlY0cTAtLjgyNS41ODgtMS40MTNUOSAyaDlxLjgyNSAwIDEuNDEzLjU4OFQyMCA0djEycTAgLjgyNS0uNTg4IDEuNDEzVDE4IDE4SDlaIi8+PC9zdmc+");
      width: 1em;
      height: 1em;
      @apply bg-center bg-no-repeat bg-cover text-body mr-tagPaddingY;
    }

    .code-block-language {
      @apply absolute text-meta rounded-br-small bg-secondary px-tagPaddingX left-0 top-0;
    }

    code {
      @apply bg-transparent font-mono text-caption whitespace-pre;
      padding: 0 !important;
    }
  }

  code:not(.hljs) {
    @apply bg-borderColor rounded-small p-tagPaddingY;
  }

  blockquote {
    @apply ml-0 border-l-4 border-secondary pl-cardPadding;
  }

  hr {
    @apply border-b-4 border-borderColor my-extraSpacing;
  }

  img {
    @apply h-auto max-w-full;
  }

  del {
    @apply line-through text-textSecondaryColor;
  }

  table {
    @apply w-full border-collapse my-rowSpacing;
  }

  table th,
  table td {
    @apply border border-borderColor px-buttonPaddingX py-buttonPaddingY;
  }

  table tr:nth-child(even) {
    @apply bg-bgColor;
  }

  table th {
    @apply font-bold bg-bgColor;
  }
}

.dark .copy-button-icon {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9IiNmYWZhZmEiIGQ9Ik01IDIycS0uODI1IDAtMS40MTMtLjU4OFQzIDIwVjZoMnYxNGgxMXYySDVabTQtNHEtLjgyNSAwLTEuNDEzLS41ODhUNyAxNlY0cTAtLjgyNS41ODgtMS40MTNUOSAyaDlxLjgyNSAwIDEuNDEzLjU4OFQyMCA0djEycTAgLjgyNS0uNTg4IDEuNDEzVDE4IDE4SDlaIi8+PC9zdmc+") !important;
}