@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --bg-color: 241, 241, 241;
  --bg-card: 255, 255, 255;
  --color-text: 51, 51, 51;
  --color-text-secondary: 119, 119, 119;
  --color-border: 204, 204, 204;
  --color-primary: 70, 130, 180;
  --color-secondary: 255, 223, 0;
}

.dark {
  --bg-color: 18, 18, 18;
  --bg-card: 30, 30, 30;
  --color-text: 229, 229, 229;
  --color-text-secondary: 153, 153, 153;
  --color-border: 51, 51, 51;
  --color-primary: 100, 149, 237;
  --color-secondary: 218, 165, 32;
}

.rendered * {
  @apply transition duration-200;
}

html,
body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: rgb(var(--bg-color));
  color: rgb(var(--color-text));
}

@media screen and (min-width: 640px) {
  html,
  body {
    font-size: 17px;
  }
}

@media screen and (min-width: 1280px) {
  html,
  body {
    font-size: 18px;
  }
}
