@use "sass:meta";

.markdown-body {
  h4,
  h5,
  h6,
  p,
  img,
  ul,
  ol,
  dl,
  table,
  code {
    @apply mt-rowGap;
  }

  h1 {
    @apply hidden;
  }

  h2,
  h3 {
    @apply font-bold mt-elementGap;
  }

  h2 {
    @apply text-h2;
  }

  h3 {
    @apply text-h3;
  }

  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  p {
    @apply leading-normal;
  }

  blockquote {
    @apply border-l-4 border-secondary bg-card pl-colGap my-elementGap italic;
  }

  img {
    @apply block mx-auto;
  }

  hr {
    @apply my-elementGap border-t-2 border-border;
  }

  em,
  i {
    @apply italic;
  }

  strong,
  b {
    @apply font-bold;
  }

  del {
    @apply line-through text-textSecondary;
  }

  a {
    color: #0000ff;
  }

  li {
    @apply leading-tight list-inside mt-xsGap;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }
}

.code-block {
  @apply relative;

  .code-block-lang {
    @apply absolute top-0 right-0 text-xs rounded-bl-xs bg-secondary px-tagPaddingX select-none;
  }

  .code-block-copy {
    @apply absolute bottom-cellPadding right-cellPadding bg-black/50 text-white rounded-sm text-caption opacity-0 px-buttonPaddingX py-buttonPaddingY;
  }

  .code-block-copy::after {
    content: "📋 Copy";
  }

  .code-block-copy:focus::after {
    content: "✅ Copied!";
  }

  code {
    @apply text-caption break-words whitespace-pre-wrap;
  }

  body.light & {
    @include meta.load-css("highlight.js/styles/github");
  }

  body.dark & {
    @include meta.load-css("highlight.js/styles/monokai");
  }
}
